<section id="about" class="about">
    <h2>sobre mi</h2>
    <p>Soy un programador con formación en Desarrollo de Aplicaciones Multiplataforma</p>
    <h3>Formación:</h3>
    <ul class="timeline">
        <li>
            <h3>2024</h3>
            <p>Grado Superior en Desarrollo de Aplicaciones Multiplataforma (Instituto Rafael Alberti).</p>
            <p>B1 en ingles (Cambridge)</p>
        </li>
        <li>
            <h3>2018</h3>
            <p>Bachillerato (Instituto San Ignacio).</p>
        </li>
        <li>
            <h3>2014</h3>
            <p>Educación Secundaria Obligatoria (San Francisco de Asís).</p>
        </li>
    </ul>
</section>
