<section id="work" class="work">
    <h2>Experiencia</h2>
    <p>Durante mis prácticas, trabajé en la empresa ControlNet desarrollando funcionalidades clave en aplicaciones multiplataforma</p>
    <h3>Habilidades Técnicas:</h3>
    <ul class="timeline">
        <li>
            <h3>Lenguajes:</h3>
            <p>Java, Python, SQL, HTML, CSS, JavaScript, Kotlin, Android.</p>
        </li>
        <li>
            <h3>Herramientas:</h3>
            <p>NetBeans, Visual Studio, Android Studio, GitHub.</p>
        </li>
    </ul>
</section>

